* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section{
 min-height: 100vh;
}

nav{
  position: fixed;
  width: 100%;
}

a{
  text-decoration: none;
  color: #ffff;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
  font-size: 20px;
}


a:hover{
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}